---
import LandingHeader from '../components/LandingHeader.astro';
import HeroSection from '../components/HeroSection.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <main>
    <LandingHeader />

    <HeroSection />
    <HeroSection />
    <HeroSection />
  </main>
</Layout>
