<section
  class="bg-black h-screen w-screen text-center relative overflow-hidden flex flex-col"
>
  <div class="z-30 relative h-full flex flex-col">
    <header>
      <h2 class="text-black pt-40 text-[40px] font-medium">Model Y</h2>
      <p class="text-black text-sm underline">Arrange a test drive</p>
    </header>

    <footer class="flex-grow flex flex-col justify-end pb-20">
      <div class="flex gap-4 justify-center">
        <a
          href="#"
          class="border-[3px] border-white bg-white rounded font-medium text-sm text-black px-[85px] py-2 inline-block hover:text-white transition-colors hover:bg-black hover:border-black"
          >Order Now</a
        >
        <a
          href="#"
          class="border-[3px] border-indigo-700 bg-indigo-700 backdrop-blur-sm rounded font-medium text-sm px-[85px] py-2 inline-block transition-colors hover:bg-indigo-800 text-gray-50 hover:text-white hover:border-indigo-800"
          >Learn More</a
        >
      </div>
    </footer>
  </div>

  <div class="absolute top-0 bottom-0 z-10 w-full">
    <img
      class="object-cover object-center h-full w-full"
      src="/model-y.avif"
    ></img>
  </div>
</section>
